# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
.env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/

# IDE / Editor specific
.vscode/
.idea/
Python-Opto-Project-old.code-workspace

# OS-specific
.DS_Store
Thumbs.db
